@import "tailwindcss";

@theme{

    --color-main-dark: #15171E;
 --color-main-gray: #23232B;
 --color-battle-blue: #0074E0;
 --color-second-gray:#303237;



}

@layer{
@font-face {
    font-family:notosans-reg;
    src: url(../font/Notosans-Regular.ttf);
}


}
@layer{

    body{

        width: 100%;
        background: var(--color-main-dark);
        font-family: notosans-reg;
      


  

    }}

 .swiper {
      width: 98%;
      height: 360px;
      

    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }

    .swiper-slide 
    img {
   display: block;
   width: inherit;
   height: 100%;
    
      object-fit: cover;


    
    }



    .pic{



background-image: url('/public/image/bgdiv.webp'); 
background-size: cover;
    }

  .picmobile{

background-image: url('/public/image/bgdiv.webp'); 
background-size: cover;


  }

    